@font-face {
  font-family: 'ABeeZee';
  src: url('./assets/fonts/ABeeZee-Regular.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-width: 480px; */
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  padding: 0 103px;
  font-family: "ABeeZee";
  font-size: 14px;
  color: #353540;
}

.welcome {
  position: absolute;
  top: 48vh;
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  color: white;
  letter-spacing: 3px;
}

.avatar {
  vertical-align: middle;
}

.search_icon {
  vertical-align: middle;
  margin-left: 70px;
}

.search_input {
  width: 250px;
  height: 20px;
  margin-left: 34px;
  background-color: transparent;
  border: 0;
  font-family: "ABeeZee";
  font-size: 13px;
  letter-spacing: 0.5px;
  outline-width: 0;
}

.search_input::placeholder {
  color: #717171;
}

.helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.header_item {
  vertical-align: middle;
  margin-right: 80px;
  cursor: pointer;
}

.menu_icon {
  vertical-align: middle;
  cursor: pointer;
}

.album_bg_div {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
  transition: 0.8s height;
}

.player_bg {
  position: absolute;
  width: calc(100% - 462px);
  height: 4px;
  bottom: 0;
  right: 0;
  background-color: #ededed;
}

.frontpage_player {
  width: 100%;
  left: 0;
}

.player_progress {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  background-color: #ff8955;
}

.bg_fullsize {
  height: 100vh;
}

.bg_smallsize {
  height: 314px;
}

.album_bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  width: 3000px;
  left: -550px;
  filter: blur(150px);
  /* -webkit-filter: blur(150px); */
  backdrop-filter: blur(150px);
  opacity: 0.35;
  transition: 0.8s top;
}

.bg_image_fullsize {
  top: -1200px;
}

.bg_image_smallsize {
  top: -2500px;
}

.content {
  position: relative;
  margin-top: 85px;
  padding: 0 78px;
  font-family: "ABeeZee";
  opacity: 1;
  transition: 0.8s;
}

.frontpage_content {
  opacity: 0;
}

.album_downside {
  position: absolute;
  bottom: 0;
}

.album_selected {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 385px;
  height: 464px;
  background-color: white;
}

.album_backshadow {
  position: absolute;
  margin-left: 20px;
  margin-top: 64px;
  width: 345px;
  height: 400px;
  -webkit-box-shadow: 0px 13px 18px -1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 13px 18px -1px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 13px 18px -1px rgba(0, 0, 0, 0.42);
  z-index: -1;
}

.album_selected_cover {
  width: 355px;
  height: 355px;
  margin: 15px;
}

.album_selected_description {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 10px 22px 0 22px;
}

.audio_player {
  position: absolute;
  justify-content: space-evenly;
  display: flex;
  top: 181px;
  left: 514px;
  width: calc(100vw - 514px);
  letter-spacing: 1px;
  font-weight: 600;
  z-index: 1;
  transition: 0.8s;
}

.frontpage_audio_play {
  position: absolute;
  justify-content: space-evenly;
  display: flex;
  top: 48vh;
  width: 100vw;
  letter-spacing: 1px;
  font-weight: 600;
  z-index: 1;
  transition: 0.8s;
}

.audio_player_info {
  display: flex;
}

.audio_player_cover {
  width: 70px;
  height: 70px;
}

.audio_player_album_name {
  flex-direction: column;
  width: 180px;
  margin-left: 42px;
  height: 70px;
  font-size: 13px;
}

.audio_player_control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.player_control_play {
  margin-left: 72px;
  cursor: pointer;
}

.player_control_heart {
  margin-left: 65px;
  cursor: pointer;
}

.search_content {
  display: flex;
  position: absolute;
  top: 132px;
  left: 514px;
  width: calc(100vw - 514px);
  height: calc(100vh - 314px);
  overflow: auto;
}

.search_result {
  width: calc(100% - 435px);
  min-width: 490px;
}

.search_result_title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.search_result_item {
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  background-color: #fdfdfd;
  letter-spacing: 1px;
}

.left_arrow {
  margin-left: 22px;
  margin-right: 43px;
  cursor: pointer;
}

.search_result_title_text {
  font-size: 28px;
  color: #3c4a57;
  letter-spacing: 0.5px;
}

.track_row {
  height: 55px;
  border: 1px solid #f5f3f9;
  border-radius: 6px;
  margin-top: 12px;
  padding: 0 26px;
  cursor: pointer;
}

.track_row:hover {
  background-color: #fdfdfd;
}

.track_row_cover {
  vertical-align: middle;
  /* margin-left: 26px; */
}

.track_row_name {
  vertical-align: middle;
  margin-left: 48px;
  height: 100%;
  font-size: 13px;
  color: #3c4a57;
  letter-spacing: 0.5px;
}

.search_result_operations {
  display: flex;
  justify-content: flex-end;
  margin: 38px 0;
}

.search_result_current_page {
  margin: 3px 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 600px;
  margin-left: 50px;
  letter-spacing: 0.7px;
}

.sidebar_title {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 17px;
  color: #3c4a57;
}

.you_might_enjoy_content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.you_might_enjoy_cover {
  margin-right: 5px;
  margin-top: 12px;
}

.history_title {
  margin-top: 12px;
  font-size: 11.5px;
  font-weight: 600;
  color: #a1acb6;
}

.one_line {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media all and (max-width: 1380px) {
  .search_result {
    width: calc(100% - 120px);
  }

  .sidebar {
    display: none;
  }
}

@media all and (max-width: 1180px) {
  header {
    padding: 0 63px;
  }

  .search_icon {
    margin-left: 40px;
  }

  .search_input {
    width: 180px;
  }

  .header_item {
    margin-right: 50px;
  }

  .audio_player_info {
    display: none;
  }

  .audio_player {
    justify-content: flex-end;
  }

  .audio_player_control {
    margin-top: 19px;
    margin-left: 25px;
    margin-right: 55px;
  }
}

@media all and (max-width: 800px) {
  header {
    padding: 0 63px;
  }

  .avatar {
    display: none;
  }

  .search_icon {
    margin-left: 10px;
  }

  .audio_player_info {
    display: flex;
  }

  .audio_player_album_name {
    display: none;
  }

  .audio_player {
    justify-content: space-evenly;
    top: 181px;
    left: 0;
    width: 100%;
  }

  .audio_player_control {
    margin: 0;
  }

  .player_control_play {
    margin-left: 42px;
  }

  .player_control_heart {
    margin-left: 35px;
  }

  .audio_player_album_name {
    width: 100px;
  }

  .header_item {
    display: none;
  }

  .player_bg {
    width: 100%;
    left: 0;
  }

  .album_selected {
    display: none;
  }

  .album_backshadow {
    display: none;
  }

  .search_result {
    width: calc(100% - 50px);
    min-width: 0;
  }

  .search_content {
    display: flex;
    position: absolute;
    top: 166px;
    left: 50px;
    width: calc(100% - 50px);
    height: calc(100vh - 314px);
    overflow: auto;
  }
}

/* @media all and (max-width: 600px) {
  .audio_player_info {
    display: flex;
  }
} */
